*{
	margin: 0;
	padding: 0;
}

#contenedor {
	width: 250px;
	height: 450px;
	background: #D8D8D8;
	border-radius: 1em;
	float: left;
	margin: 1em;
}

#image {
	height: 70%;
	background: #A4A4A4;
	border-radius: 1em;
	margin: 1em;
}